.peter_logo {
    font-family: 'Nanum Pen Script', cursive;
}


.peter_footer_button {
    font-size: .9rem;
}

.peter_footer {
    text-align:center;
    margin-top: 2rem;
}

.peter_header {
    text-align: center;
    margin: 2rem 0;
}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}



