<div class="peter_header" >
    <div>
        <h1 class="peter_logo">PeterSite</h1>

    </div>

    <div>
        <a href="{% url 'articleapp:list' %}">
            <span>Articles</span>
        </a>
        <span>nv2</span>
        <span>nv3</span>
        {% if not user.is_authenticated %}  <!--  user가 로그인이 되어있지 않다면 로그인을 보여주고 로그인이 되어있다면 로그아웃을 보여줄것이다. -->
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
            <span>login</span>
        </a>
        <a href="{% url 'accountapp:create' %}?next={{ request.path }}">
            <span>Sign Up</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:detail' pk=user.pk %}">
            <span>MyPage</span>
        </a>
        <form action="{% url 'accountapp:logout' %}?next={{ request.path }} " method="post">
            {% csrf_token %}
             <input type="submit" value = "logout">
        </form>
        {% endif %}
    </div>

</div>