<div class="peter_header" >
    <div>
        <h1 class="peter_logo">PeterSite</h1>

    </div>

    <div class="peterpage_header_navbar">
        <a href="{% url 'articleapp:list' %}" class="peterpage_header_nav">
            <span>Articles</span>
        </a>
        <a href="{% url 'projectapp:list' %}" class="peterpage_header_nav">
            <span>Projects</span>
        </a>
        <a href="{% url 'subscribeapp:list' %}" class="peterpage_header_nav">
            <span>Subscription</span>
        </a>

        {% if not user.is_authenticated %}  <!--  user가 로그인이 되어있지 않다면 로그인을 보여주고 로그인이 되어있다면 로그아웃을 보여줄것이다. -->
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="peterpage_header_nav">
            <span>login</span>
        </a>
        <a href="{% url 'accountapp:create' %}?next={{ request.path }}" class="peterpage_header_nav">
            <span>Sign Up</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:detail' pk=user.pk %}" class="peterpage_header_nav">
            <span>MyPage</span>
        </a>
        <form action="{% url 'accountapp:logout' %}?next={{ request.path }} " method="post">
            {% csrf_token %}
             <input type="submit" value = "logout">
        </form>
        {% endif %}
    </div>

</div>